# Preserve externally supplied license and notice files byte-for-byte.
licenses/desktop/** -text whitespace=-trailing-space,cr-at-eol
web/public/licenses/** -text whitespace=-trailing-space,cr-at-eol
web/public/third-party-notices.txt -text whitespace=-trailing-space,cr-at-eol
